 :root{

    --pink:#e84393;
    

}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color:var(--pink);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--pink);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    font-size:10px;
}

header .logo{
    font-size: 28px;
    color:#333;
    font-weight: bolder;
}

header .logo span{
    color:var(--pink);
}

header .navbar a{
    font-size: 1rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    color:var(--pink);
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--pink);
}

header #toggler{
    display:none;
}

   header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display:none;
}
 header .fa-xmark{
    font-size: 2rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display:none;
}


/* media queries  */
@media (max-width:991px){
  

    header{
        padding:2rem;
        
    }

    section{
        padding:2rem;
    }

  

}

@media (max-width:768px){


        header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#e6ffff;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

     header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
       header .fa-bars{
       display: block;
       font-size:2rem;
    }
       header #toggler:checked ~ .fa-bars{
           display:none;
       }
    header .fa-xmark{
        display:none;
    }
    header #toggler:checked ~ .fa-xmark{
        display:block;
        font-size:2rem;
    }
    
    
    

    header .navbar a{
        margin:1rem;
        padding:1rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
        border-radius:0.5rem;
        text-align:center;
    }
}
   
    

























     /*-------------body------------------*/

      body{
      /* background-color: rgb(198, 244, 246);*/
      background-color:#e6ffff;
          }
     /*----------------------------------*/
    
    
    
    
    
    
    
     /*------------blog body-------------*/
      
      .blog-post{
      width:96%;
      background-color: rgb(255,255,255);
      margin:150px auto 10px auto;
      padding-bottom:100px;
      border-radius:5px;
      border:1px solid black;
      box-shadow:0px 4px black;
      }
      /*---------------------------------*/
     
     
     
     
     
     
     
     
     
      /*----------major heading----------*/
      .blog-post h1{
       text-align:center;
       padding:25px;
       margin:0px;
       font-weight: 600;
       font-family: Verdana, Geneva, Tahoma,sans-serif;
       background-color:rgba(50,60,50,5%);
       border-top-right-radius:5px;
       border-top-left-radius:5px;
      }
      /*---------------------------------*/
     
     
     
     
  
    
      
      /*--------heading------------------*/
      .blog-post h2{
      padding-left: 15px;
      padding-right: 15px;
      margin: 0%;
      font-weight: 500;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color:green;
      }
      /*---------------------------------*/
      
     
     
     
   
     
     
     /*-----------subheading-------------*/
      .blog-post h3{
      padding-left:15px;
      padding-right:15px;
      margin:0px;
      font-weight: 500;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color:darkgreen;
      }
      /*---------------------------------*/
      
      
   


  


       /*---------peragraph--------------*/
       .blog-post .peragraph{
        padding-left: 15px;
        padding-right: 15px;
        Margin:0;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 500;
        }
      /*---------------------------------*/
     
     
     
     
     
     
      
      
     
     
     
      /*-------------bold----------------*/
        p strong{
        color: darkblue;
        font-size:85%;
        }
      /*---------------------------------*/
      
     
/*----------image container--------*/
.blog-post .image{
box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
width:90%;
margin:0px auto 0px auto ;
padding:0;
}
/*---------------------------------*/ 
     
         
         
/*-----------images--------------*/                
.blog-post .image img{
width:90%; 
height:100%;
margin:2% 5% 0% 5%;
padding:0px; 
border-radius:3px;
}
/*---------------------------------*/ 
     
    
    
    
     
     
     
/*---------videos container--------*/
.blog-post .video {     
width:85%;
margin:auto;
border-radius:2px;
box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);         
}
/*---------------------------------*/ 
     




/*---------videos------------------*/
.blog-post .video video{
height:; 
width:90%; 
margin:0% 5% 0% 5%; 
border-bottom-right-radius:3px; 
border-bottom-left-radius:3px;                                   
}
/*---------------------------------*/ 
     
     
     
     
/*----------labels-------------------*/ 
 .blog-post .image label{ 
 margin:0px auto; 
 padding:0px 0px 5px 0px; 
 display:block; 
 width:80%; 
 text-align:center; 
 font-size:15px; 
 background-color:#ffffff; 
 border-radius:4px; 
 } 
 
.blog-post .video label{ 
margin:0px auto 0px auto; 
padding:2px; display:block;
width:90%;
text-align:center;
font-size:15px;
background-color:rgba(0,140,186,0.5);
/*border-top-left-radius:5px;
border-top-right-radius:5px;*/
height:25px;
text-align:center;
}
/*---------------------------------*/
     
     
     
     
      
  
