/*--body---*/
      body{
      background-color:#f2f2f2;
      }   

      .copy{
      text-align:center;
      width:80%;
      margin:3rem auto 3rem auto;
      }

      .domain{
      color:#00b8e6;    
      }
      
      
      :root{
      --pink:#e84393;
      }

     *{
     margin:0; padding:0;
     box-sizing: border-box;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     outline: none; border:none;
     text-decoration: none;
     text-transform: capitalize;
     transition: .2s linear;
     }

     html{
     font-size: 100%;
     scroll-behavior: smooth;
     scroll-padding-top: 6rem;
     overflow-x: hidden;
     }

     section{
     padding:2rem 9%;
     }

     .heading{
     text-align: center;
     font-size: 4rem;
     color:#333;
     padding:1rem;
     margin:2rem 0;
     background:rgba(255, 51, 153,.05);
     }

     .heading span{
     color:var(--pink);
     }

     .btn{
     display: inline-block;
     margin-top: 1rem;
     border-radius: 5rem;
     background:#333;
     color:#fff;
     padding:.9rem 3.5rem;
     cursor: pointer;
     font-size: 1.7rem;
     }

     .btn:hover{
     background:var(--pink);
     }

     header{
     position: fixed;
     top:0; left:0; right:0;
     background:#fff;
     padding:0.5rem;
     margin:0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     z-index: 1000;
     box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
     font-size:10px; 
     }

     header .logo{
     font-size:2rem;
     color:#333;
     font-weight:bolder;
     }

     header .logo span{
     color:#00b8e6;
     }

     header .navbar a{
     font-size:1rem;
     padding:0rem 0.4rem 0rem 0.6rem;
     margin:0;
     color:#666;
     }

     header .navbar a:hover{
     color:#00b8e6;
     }

     header .icons a{
     font-size: 2.5rem;
     color:#333;
     margin-left: 1.5rem;
     }

     header .icons a:hover{
     color:var(--pink);
     }

     header #toggler{
     display:none;
     }

     header .fa-bars{
     font-size: 3rem;
     color:#333;
     border-radius: .5rem;
     padding:.5rem 1.5rem;
     cursor: pointer;
     border:.1rem solid rgba(0,0,0,.3);
     display:none;
     }
     header .fa-xmark{
     font-size: 2rem;
     color:#333;
     border-radius: .5rem;
     padding:.5rem 1.5rem;
     cursor: pointer;
     border:.1rem solid rgba(0,0,0,.3);
     display:none;
     }

     /*-- blog body --*/
     .blog-post{
     width:94%;
     background-color: rgb(255,255,255);
     margin:72px auto 10px auto;
     padding-bottom:100px;
     border-radius: .5rem;
     box-shadow: 0 .5rem 0.5rem rgba(0,0,0,.1);
     border:.1rem solid rgba(0,0,0,.1);
     }
      
     /*-- major heading --*/
     .blog-post h1{
     text-align:center;
     padding:25px;
     margin:0px;
     font-weight: 600;
     font-family: Verdana, Geneva, Tahoma,sans-serif;
     background-color:rgba(50,60,50,5%);
     border-top-right-radius:5px;
     border-top-left-radius:5px;
     }
      
     /*--heading--*/
     .blog-post h2{
     padding-left: 15px;
     padding-right: 15px;
     margin-left:60px;
     margin-right:60px;
     font-weight: 500;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color:green;
     font-size:30px;
     }
      
     /*-- subheading --*/
     .blog-post h3{
     padding-left:15px;
     padding-right:15px;
     margin-left:70px;
     margin-right:70px;
     font-weight:500;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color:darkgreen;
     font-size:25px;
     }
      
     /*-- peragraph --*/
     .blog-post .peragraph{
     padding:0;
     Margin:25px 75px 40px 75px;
     text-align:center;
     font-family: 'Hind Siliguri', sans-serif;
     font-size:20px;
     font-weight: 400;
     line-height:40px;
     }
        
     /*-- bold --*/
     p strong{
     color: darkblue;
     font-size:85%;
     }
                      
     /*-- image container --*/
     .blog-post .image{
     box-shadow:0 0 2px 2px; rgba(204,204,204,0.5);
     width:60%;
     margin:0px auto 0px auto ;
     padding:0;
     border-radius:2px;
     box-shadow:0 0 2px 2px rgba(204, 204, 204,0.5);  
     }
          
     /*-- images --*/                
     .blog-post .image img{
     width:90%; 
     height:100%;
     margin:2% 5% 0% 5%;
     padding:0px; 
     border-radius:3px;
     }
 
     /*-- videos container --*/
     .blog-post .video {     
     width:60%;
     margin:auto;
     padding:3px;
     border-radius:2px;
     box-shadow:0 0 2px 2px rgba(204, 204, 204,0.5);  
     }

     /*-- videos --*/
     .blog-post .video video{
     height:; 
     width:90%;
     margin:0% 5% 0% 5%; 
     border-bottom-right-radius:3px; 
     border-bottom-left-radius:3px;                                   
     } 
     
     /*-- labels --*/ 
     .blog-post .image label{ 
     margin:0px auto; 
     padding:0px 0px 5px 0px; 
     display:block; 
     width:80%; 
     text-align:center; 
     font-size:15px; 
     background-color:#ffffff; 
     border-radius:4px; 
     }
     
     .blog-post .video label{ 
     margin:0px auto 0px auto; 
     padding:2px; display:block;
     width:91%;
     text-align:center;
     font-size:15px;
     background-color:rgba(0,140,186,0.5);
     border-top-left-radius:5px;
     border-top-right-radius:5px;
     border-bottom-left-radius:5px;
     border-bottom-right-radius:5px;
     height:25px;
     text-align:center;
     }
     
     /*--- media queries  ---*/
     @media (max-width:991px){
     header{
     padding:2rem;
     }
    
     section{
     padding:2rem;
     }
     }

     @media (max-width:575px){
     header{
     position: fixed;
     top:0; left:0; right:0;
     background:#fff;
     padding:1rem;
     margin:0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     z-index: 1000;
     box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
     font-size:10px;
     height:10%;
     }
     
     header .logo{
     font-size: 25px;
     color:#333;
     font-weight:bolder;
     }
     
     header .navbar{
     position:absolute;
     top:100%; left:0; right:0;
     background:#f5f5f5;
     border-top:.1rem solid rgba(0,0,0,.1);
     clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
     }

     header #toggler:checked ~ .navbar{
     clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
     }
     
     header .fa-bars{
     display: block;
     font-size:1rem;
     }
     
     header #toggler:checked ~ .fa-bars{
     display:none;
     }
     
     header .fa-xmark{
     display:none;
     }
    
     header #toggler:checked ~ .fa-xmark{
     display:block;
     font-size:1rem;
     }
    
     header .navbar a{
     margin:1rem;
     padding:1rem;
     background:#fff;
     border:.1rem solid rgba(0,0,0,.1);
     display: block;
     border-radius:0.7rem;
     text-align:center;
     font-size:1.2rem;
     }

     /*-- blog body --*/
     .blog-post{
     width:94%;
     background-color: rgb(255,255,255);
     margin:68px auto 10px auto;
     padding-bottom:100px;
     border-radius: .5rem;
     box-shadow: 0 .5rem 0.5rem rgba(0,0,0,.1);
     border:.1rem solid rgba(0,0,0,.1);
     }
      
     /*-- major heading --*/
     .blog-post h1{
     text-align:center;
     padding:25px;
     margin:0px;
     font-weight: 600;
     font-family: Verdana, Geneva, Tahoma,sans-serif;
     background-color:rgba(50,60,50,5%);
     border-top-right-radius:5px;
     border-top-left-radius:5px;
     }
      
     /*-- heading --*/
     .blog-post h2{
     padding-left: 15px;
     padding-right: 15px;
     margin: 0%;
     font-weight: 500;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color:green;
     }
      
     /*-- subheading --*/
     .blog-post h3{
     padding-left:15px;
     padding-right:15px;
     margin:0px;
     font-weight:500;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color:darkgreen;
     }
       
     /*-- peragraph --*/
     .blog-post .peragraph{
     padding-left: 15px;
     padding-right: 15px;
     Margin:0;
     text-align:center;
     font-family: 'Hind Siliguri', sans-serif;
     font-size:20px;
     font-weight: 400;
     }
        
     /*-- bold --*/
     p strong{
     color: darkblue;
     font-size:85%;
     }
        
     /*-- image container --*/
     .blog-post .image{
     box-shadow:0 0 2px 2px; rgba(204,204,204,0.5);
     width:95%;
     margin:0px auto 0px auto ;
     padding:0;
     border-radius:2px;
     box-shadow:0 0 2px 2px rgba(204, 204, 204,0.5);  
     }
          
     /*-- images --*/                
     .blog-post .image img{
     width:94%; 
     height:100%;
     margin:2% 3% 0% 3%;
     padding:0px; 
     border-radius:3px;
     }
  
     /*-- videos container --*/
     .blog-post .video {     
     width:93%;
     margin:auto;
     padding:3px;
     border-radius:2px;
     box-shadow:0 0 2px 2px rgba(204, 204, 204,0.5);  
     }

     /*-- videos --*/
     .blog-post .video video{
     width:90%;
     margin:0% 5% 0% 5%; 
     border-bottom-right-radius:3px; 
     border-bottom-left-radius:3px;                                   
     } 
        
     /*-- labels --*/ 
     .blog-post .image label{ 
     margin:0px auto; 
     padding:0px 0px 5px 0px; 
     display:block; 
     width:80%; 
     text-align:center; 
     font-size:15px; 
     background-color:#ffffff; 
     border-radius:4px; 
     } 
     
     .blog-post .video label{ 
     margin:0px auto 0px auto; 
     padding:2px; display:block;
     width:90%;
     text-align:center;
     font-size:15px;
     background-color:rgba(0,140,186,0.5);
     border-top-left-radius:5px;
     border-top-right-radius:5px;
     height:25px;
     text-align:center;
     }
     }

     .copy{
     text-align:center;
     width:80%;
     margin:auto; 
     }




 
.clear,.clear1,.clear2,.clear3,.clear4,.clear5,.clear6,.clear7,.clear8,.clear9,.clear10,.clear11,.clear12,.clear13,.clear14,.clear15,.clear16,.clear17,.clear18,.clear19,.clear20,.clear30,.clear40,.clear50,.clear100{
clear:both;
font-size:0;
line-height:0;  
    
}
.clear{height:0px;}
.clear1{height:1px;}
.clear2{height:2px;}
.clear3{height:3px;}
.clear4{height:4px;}
.clear5{height:5px;}
.clear6{height:6px;}
.clear7{height:7px;}
.clear8{height:8px;}
.clear9{height:9px;}
.clear10{height:10px;}
.clear11{height:11px;}
.clear12{height:12px;}
.clear13{height:13px;}
,.clear14{height:14px;}
.clear15{height:15px;}
.clear16{height:16px;}
.clear17{height:17px;}
.clear18{height:18px;}
.clear19{height:19px;}
.clear20{height:20px;}
.clear30{height:30px;}
.clear40{height:40px;}
.clear50{height:50px;}
.clear100{height:100px;}
