    /*-------------body-----------------*/

      body{
      /* background-color: rgb(198, 244, 246);*/
      background-color:#e6ffff;
          }
      /*---------------------------------*/
    
    
    
    
    
    
    
     /*------------blog body------------*/
      
      .blog-post{
      width:96%;
      background-color: rgb(255,255,255);
      margin:300px auto 10px auto;
      padding-bottom:100px;
      border-radius:5px;
      border:1px solid black;
      box-shadow:0px 4px black;
      }
      /*---------------------------------*/
     
     
     
     
     
     
     
     
     
      /*----------major heading----------*/
      .blog-post h1{
       text-align:center;
       padding:25px;
       margin:0px;
       font-weight: 600;
       font-family: Verdana, Geneva, Tahoma,sans-serif;
       background-color:rgba(50,60,50,5%);
       border-top-right-radius:5px;
       border-top-left-radius:5px;
      }
      /*---------------------------------*/
     
     
     
     
     
     
     
     
      /*---------centered p--------------*/
      .blog-post .center{
       padding-left: 15px;
       padding-right: 15px;
        
       text-align: center;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       font-weight: 500;
      }
      /*---------------------------------*/
      
    
   
   
   
   
   
   
   
     /*--------left p-------------------*/
      .blog-post .left{
       padding:15px;
      text-align:;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: 100;
      margin:0;
      }
      /*---------------------------------*/
     
     
     
     
     
     
     
     /*---------centered p--------------*/
      .blog-post .center{
       padding-left: 15px;
       padding-right: 15px;
        
       text-align: center;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       font-weight: 500;
      }
      /*---------------------------------*/
      
    
    
    
    
    
    
    
      
      /*--------heading------------------*/
      .blog-post h2{
      padding-left: 15px;
      padding-right: 15px;
      margin: 0%;
      font-weight: 500;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color:green;
      }
      /*---------------------------------*/
      
     
     
     
     
     
     
     
     
     
     
     
     /*-----------subheading-------------*/
      .blog-post h3{
      padding-left:15px;
      padding-right:15px;
      margin:0px;
      font-weight: 500;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color:darkgreen;
      }
      /*---------------------------------*/
      
      
     
     
     
     
     
     
     
      /*--------left2 p------------------*/
      .blog-post .left2{
      margin:0;
      padding-left: 15px;
      padding-right: 15px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: 100;
      text-align:left;
      }
      /*---------------------------------*/
      
      
     
     
     
      /*-------------bold----------------*/
      p strong{
        color: darkblue;
        font-size:85%;
      }
      /*---------------------------------*/
      
     
     
     
     
     
     
      /*--------------images---------------*/
      .blog-post .image img{
          height:;
          width:90%;
          margin:0% 5% 0% 5%;
          padding:0px;
          border-radius:3px;
          border:1px solid grey;
           }
        /*---------------------------------*/                                
          
                                                  
                                                  
                                                  
                                                  
 
      /*-------------video-----------------*/
      .blog-post .video video{
          height:;
          width:90%;
          margin:0% 5% 0% 5%;
          border-radius:3px;
          border:1px solid grey;
      }
      /*---------------------------------*/
   
   
   
    
    
    
    
      /*----------labels-------------------*/
      .blog-post .image label{
      margin:0px auto 20px auto;
      padding:2px;
      display:block;
      width:80%;
      text-align:center;
      font-size:15px;
      background-color:#bdc9c9;
      border-radius:1px;
      }
        .blog-post .video label{
      margin:0px auto 20px auto;
      padding:2px;
      display:block;
      width:80%;
      text-align:center;
      font-size:15px;
      background-color:#bdc9c9;
      border-radius:1px;
      }
      /*---------------------------------*/

   
  
